.banner{
    width:100%;

    position:relative;

    border-radius: 1em;
    border: 5px outset rgb(116, 122, 127);

    margin-bottom: 2%;

    text-align:center;

    background-image: url("/../assets/img/build-small(old).PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

table{
    background: white;
}

td{
    height:130px;
}

th{
    height:130px;
}

.money button{
    width:30px;

    color: rgb(0, 0, 0);
    background-color: rgb(115, 246, 246);

    border-radius: 15px;



}



