.jumbotron{
    background-color: black;
}

h1{
    text-align: center;
    color:aquamarine;
}



ul, p{
    color:aquamarine;
}

.log-button{
    margin-top: 3%;
    margin-left: 45%;
    margin-right: 50%;
}