<div class="jumbotron">
    <h1>Bienvenido</h1>
    <p class="lead">Estas en SW DATABASE, el mejor recurso web para conocer las naves
        y personajes del universo Star Wars, incluyendo todos los recursos de la trilogía clasica y precuelas.
    </p>
    <p>Esta app web incluye:</p>
    <ul>
        <li>Tarjetas con datos de naves y sus pilotos asociados</li>
        <li>Control total sobre sus recursos, crea, edita y borra a placer</li>
        <li>Conversión de creditos imperiales a euros. ¿Te has preguntado cuanto costaba la
             Estrella de la muerte?</li>
        <li>Generación de PDFs con todos los elementos disponibles</li>
    </ul>
    <div class="log-button">
        <a class="btn btn-lg btn-primary" routerLink="/login">Login</a>
    </div>    
</div>

