.data-card {
    position:relative;
    background-image: url("/../assets/img/cardbgicut.PNG") ;

    width: 450px;
    height: 350px;

    /*background-color: grey;*/
    float:left;

    margin:auto;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 30px;
    /*width: 40%;*/
    border: 5px outset rgb(0, 77, 128);
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

.data-title{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 5px;

    color: yellow;
    /*background-color: grey;*/
    background: rgba(128, 128, 128, .7);    /*  70% opaque green */ 
    border: 5px outset rgb(0, 77, 128);
    border-radius: 25px;

    /*border: 3px solid rgb(0, 77, 128);*/
    
}

.data-content{
    margin-right: 5%;
    margin-left: 8%;
    /*margin-top: 3px;
    margin-bottom: 10px;*/
    /*border: 3px solid rgb(0, 77, 128);*/
    float: left;
    text-align: center;

    width: 25%;

    background: rgba(128, 128, 128, .5);
    border: 2px outset rgb(0, 77, 128);
    border-radius: 25px;
}

.data-content b{
    color:rgb(121, 181, 249);
}

.data-content-pilots{
    margin-right: 4%;
    margin-left: 5%;
    margin-top: 0px;
    margin-bottom: 0px;
    /*border: 3px solid rgb(0, 77, 128);*/
    position: sticky;
    float: right;
    text-align: center;

    width: 44%;

    background: rgba(128, 128, 128, .5);
    border: 2px outset rgb(0, 77, 128);
    border-radius: 25px;

    overflow-y:auto;

}

.data-content-pilots b{
    color:rgb(121, 181, 249);
}

.data-content-pilots .delete{
    float:right;
}

td{
    width: 100%;
    text-align:center;
}


.data-options{
    /*border: 3px solid rgb(0, 77, 128);*/

    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    float: right;
    text-align: center;
    position: absolute;
    bottom: 0;

    width: 30%;

    background: rgba(128, 128, 128, .5);
    border: 5px outset rgb(0, 77, 128);
    border-radius: 25px;
}
