.data-card {

    background-image: url("/../assets/img/cardbgicut.PNG") ;

    width: 450px;
    height: 350px;

    position:relative;
    float:left;

    margin:auto;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 40px;
    margin-bottom: 30px;

    border: 5px outset rgb(0, 77, 128);
    border-radius: 25px;
    padding: 10px;

    text-align: center;
}

.data-title{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 5px;

    color: yellow;

    background: rgba(128, 128, 128, .7);    /*  70% opaque grey */ 
    border: 5px outset rgb(0, 77, 128);
    border-radius: 25px;
    
}

.data-content{
    margin-right: 5%;
    margin-left: 8%;

    position: inherit;
    float: left;
    text-align: center;

    width: 25%;

    background: rgba(128, 128, 128, .5);
    border: 2px outset rgb(0, 77, 128);
    border-radius: 25px;
}

.data-content b{
    color:rgb(121, 181, 249);
}

.data-content-pilots{
    margin-right: 1%;
    margin-left: 5%;
    margin-top: 0px;
    margin-bottom: 0px;

    position: relative;
    float: right;
    text-align: center;

    width: 46%;
    height: 89%;

    background: rgba(128, 128, 128, .5);
    border: 2px outset rgb(0, 77, 128);
    border-radius: 25px;

    overflow:auto;

}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
    background: #034354; 
}
   

::-webkit-scrollbar-thumb {
    background: #02fdff; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #02fdff; 
}

.data-content-pilots b{
    color:rgb(121, 181, 249);
}

.data-content-pilots .delete{
    float:right;
}

td{
    width: 100%;
    text-align:center;
}


.data-options{
    /*border: 3px solid rgb(0, 77, 128);*/

    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    position: absolute;
    float: right;
    bottom: 0;

    width: 30%;

    text-align: center;

    background: rgba(128, 128, 128, .5);
    border: 5px outset rgb(0, 77, 128);
    border-radius: 25px;
}
