.data-card {
    background-image: url("/../assets/img/cardbgicut.PNG") ;

    width: 450px;
    height: 350px;

    position:relative;
    float:left;

    margin:auto;

    margin-top: 40px;
    margin-right:50px;
    margin-left:50px;
    margin-bottom: 30px;

    border: 5px outset rgb(0, 77, 128);
    border-radius: 25px;
    padding: 10px;

    text-align: center;
}

.data-title{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 5px;

    color: yellow;

    background: rgba(128, 128, 128, .7);    /*  70% opaque grey */ 
    border: 5px outset rgb(0, 77, 128);
    border-radius: 20px;
    
}

.data-content{
    position: absolute;
    left: 0;
    float: left;
    text-align: center;

    margin-left:2%;

    width: 47%;
    height: 65%;
    

    background: rgba(128, 128, 128, .5);
    border: 2px outset rgb(0, 77, 128);
    border-radius: 20px;
}

.data-content b{
   /* color:rgb(121, 181, 249);*/
   color:greenyellow;
}

.data-content-pilots{
    margin-right: 3%;
    margin-left: 5%;
    margin-top: 0px;
    margin-bottom: 0px;

    position: absolute;
    right: 0;
    float: right;
    text-align: center;

    width: 44.8%;
    height: 84.8%;

    background: rgba(128, 128, 128, .5);
    border: 2px outset rgb(0, 77, 128);
    border-radius: 20px;

    overflow:auto;

}

::-webkit-scrollbar {
    width: 12px;
}
  
::-webkit-scrollbar-track {
    background: #034354; 
}
   

::-webkit-scrollbar-thumb {
    background: #02fdff; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #02fdff; 
}

.data-content-pilots b{
    color:rgb(121, 181, 249);
}

.data-content-pilots .delete{
    float:right;
}




.data-content-pilots td{
    width: 90%;
    text-align:center;
}


.data-options{
    /*border: 3px solid rgb(0, 77, 128);*/

    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;

    position: absolute;
    float: right;
    bottom: 0;

    width: 30%;

    text-align: center;

    background: rgba(128, 128, 128, .5);
    border: 5px outset rgb(0, 77, 128);
    border-radius: 25px;
}

/*****************************************************************
************************MEDIAQUERRRRYYYYYS************************
*****************************************************************/

@media only screen and (max-width: 560px) {
    .data-card{
        width: 100%;
        height: 375px;

        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 15px;

        padding: 3px;
    }

    .data-title{
        width:100%;
        height: 19%;

        margin-top: 0%;
        margin-right: 0px;
        margin-left:0%;
        margin-bottom: 2px;
    
        color: yellow;
    
        background: rgba(128, 128, 128, .7);    /*  70% opaque grey */ 
        border: 5px outset rgb(0, 77, 128);
        border-radius: 20px;
    }

    .data-content-pilots{
    
        position: absolute;
        right: 0;
        float: right;
        text-align: center;

        margin-right:0%;
    
        width: 50%;
        height: 78%;
    
        background: rgba(128, 128, 128, .5);
        border: 2px outset rgb(0, 77, 128);
        border-radius: 20px;
    
        overflow-x:hidden;
        overflow-y: auto;
    
    }

    .data-content-pilots td{

        text-align:center;
    }

    .data-content{

        position: absolute;
        left: 0;
        float: left;
        text-align: center;

        margin-left:2%;
    
        width: 47%;
        height: 68%;

        overflow-x:hidden;
        overflow-y: auto;

    }


    .data-options{
    
        position: absolute;
        left: 0;
        bottom: 0;
        float:left;
        text-align: center;

        margin-top: 0.5%;
        margin-right: 0px;
        margin-left:2%;
        margin-bottom: 1%;
    
        width: 47%;
    
        text-align: center;
    
        background: rgba(128, 128, 128, .5);
        border: 2px outset rgb(0, 77, 128);
        border-radius: 20px;


    }

    .input{
        width:90%;
    }
    

    ::-webkit-scrollbar {
        width: 2px;
    }


}

