.control{
    border: 10px solid rgb(255, 0, 0);
}


.banner{
    width:100%;

    position:relative;

    border-radius: 1em;
    border: 5px outset rgb(116, 122, 127);

    margin-bottom: 2%;

    text-align:center;

    background-image: url("/../assets/img/build-small(old).PNG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.money button{
    width:30px;

    color: rgb(0, 0, 0);
    background-color: rgb(115, 246, 246);

    border-radius: 15px;
    border: 2px outset rgb(37, 128, 202);

}
