.control{
    border: 10px solid rgb(255, 0, 0);
}


.banner{
    width:100%;

    border-radius: 25px;
    border: 5px outset rgb(116, 122, 127);

    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    text-align:center;
    background-image: url("/../assets/img/build-small.PNG");

}
