<!-----------------------BANNER DE LA SECCIÓN---------------------------------->
<section class="banner">
  
    <div class="">
      <h4>Gran Astillero de Coruscant</h4>
      <a routerLink="/starship/create" class="btn btn-success">Añadir Nave</a>
    </div>

    <br>
</section>

  <!------------------------TARJETAS DE DATOS PARA NAVES----------------------->  
  <!--HE REFACTORIZADO LAS TARJETAS PARA QUE SEAN SU PROPIO COMPONENTE, 
    Y TODAS ELLAS SON RELLENADAS CON EL FOR STARSHIPS ------------------------->

  <app-card *ngFor="let starship of starships" 
    [starship]="starship"
    [pilots]="pilots"
    (starshipDeleted)="starshipDeleted($event)"
    >
  </app-card>

  



















  

    <!--  ESTO SE VA A QUEDAR AQUI SOLO POR SI ACASO
      ---LEGACY CODE DE LA PRIMERA BUILD, PARA TESTS----




    <table class="table ">
      <tr>
        <th>ID</th>
        <th>Designación de la nave</th>
        <th>Coste en Creditos</th>  -->

        <!--<th>????</th> AQUI DEBERÁN AÑADIRSE LOS PILOTOS DESIGNADOS
       
        <th width="220px">Action</th>
      </tr>
      
      <tr *ngFor="let starship of starships">
        <td>{{ starship.id }}</td>
        <td>{{ starship.name }}</td>
        <td>{{ starship.credits }}</td>
        -->
        <!--<td>{{ starship.pilots??? }}</td> Esto hay que sacarlo adelante de alguna manera-->
        <!--
        <td>
          <a href="#" [routerLink]="['/starship/', 'edit', starship.id  ]" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deleteStarship(starship.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      
    </table>
  -->



  <!----- EN CASO DE EMERGENCIA, ROMPER CRISTAL-------------------------
    -------LEGACY CODE DE LA SEGUNDA BUILD, CUANDO INTENTO JOINEAR EN EL FRONTEND DATOS, MAL HECHO, PABLO---------

  <div class="data-content-pilots">
    <b>Pilotos: </b>  

      <div *ngFor="let pilotShip of pilotShips">
        <div *ngFor="let pilot of pilots">
        <div *ngIf="starship.id == pilotShip.id_starship">
          <div *ngIf="pilotShip.id_pilot == pilot.id">

            {{ pilot.name }} <button type="button" (click)="deletePilotship(pilotShip.id)" class="btn btn-danger" >D</button>

          </div>
        </div>
        </div>
      </div>

  </div>

  -->
