<!-----------------------BANNER DE LA SECCIÓN---------------------------------->
<section class="banner">
  
    <div class="">
      <h4>Gran Astillero de Coruscant</h4>
      <a routerLink="/starship/create" class="btn btn-success">Añadir Nave</a>
    </div>

    <br>


  <!------------------------TARJETAS DE DATOS PARA NAVES----------------------->  
  <div class="data-card" *ngFor="let starship of starships">

    <div class="data-title">
      <img src="/assets/img/1.png" alt="image" class="icon">
      <b>Nombre: {{ starship.name }}</b> <br>
    </div>

    <div class="data-content">
      <b>Identificacion: </b>{{ starship.id }} <br>

    </div>

    <div class="data-content">
      <b>Coste: </b>{{ starship.credits }}
    </div>

    <!------------------MOVIDA DE LOS PILOTOS VA AQUI---------------------->
    <div class="data-content">
      <b>Pilotos: </b>  <br>

        <div *ngFor="let pilotShip of pilotShips">
          <div *ngIf="starship.id == pilotShip.id_starship">

            {{ pilotShip.id_pilot }}

          </div>
        </div>

    </div>


    <!-------------------------OPCIONES DE MANEJO DE NAVES------------------------------------------->
    <div class="data-options">
      <a href="#" [routerLink]="['/starship/', 'edit', starship.id  ]" class="btn btn-primary">Edit</a>
      <button type="button" (click)="deleteStarship(starship.id)" class="btn btn-danger">Delete</button>
    </div>

  </div>

</section>





    <!--  ESTO SE VA A QUEDAR AQUI SOLO POR SI ACASO

    <table class="table ">
      <tr>
        <th>ID</th>
        <th>Designación de la nave</th>
        <th>Coste en Creditos</th>  -->

        <!--<th>????</th> AQUI DEBERÁN AÑADIRSE LOS PILOTOS DESIGNADOS
       
        <th width="220px">Action</th>
      </tr>
      
      <tr *ngFor="let starship of starships">
        <td>{{ starship.id }}</td>
        <td>{{ starship.name }}</td>
        <td>{{ starship.credits }}</td>
        -->
        <!--<td>{{ starship.pilots??? }}</td> Esto hay que sacarlo adelante de alguna manera-->
        <!--
        <td>
          <a href="#" [routerLink]="['/starship/', 'edit', starship.id  ]" class="btn btn-primary">Edit</a>
          <button type="button" (click)="deleteStarship(starship.id)" class="btn btn-danger">Delete</button>
        </td>
      </tr>
      
    </table>
  -->
