/* You can add global styles to this file, and also import other style files */
body {  
    background-color: #000000;
    color: rgb(244, 244, 252);
    border: #ff0000 10px;
}

.bgi {
  width:100%;
  height:100%;
  
  background-image: url("/assets/img/bgi.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:fixed;

  z-index: -5;
}


.nav-main{
  width:100%;
  height:111px;
  position:relative;


  background-image: url("/../assets/img/newB.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  z-index: 3;
}

.nav-title{
  background-color: rgb(82, 80, 80);
  opacity: 70%;

  text-align: center;
}

.nav-data{
  background-color: rgb(82, 80, 80);
  opacity: 70%;

  width:100%;
  position: absolute; 
  bottom: 0;

  text-align: center;
}

a:link, a:visited {
  color:yellow;
}

img{
  width:100px;
  height:100px;
  
}

.icon{
  margin-top: -12px;

  width:45px;
  height:45px;

  float: right;
}



@media only screen and (max-width: 480px) {
  .nav-title{
    font-size: xx-large;
    margin-bottom: 50px;
  }

  a:link, a:visited {
    color:yellow;
  }

  .nav-main{
    height: 140px;
  }

  img{
    width:50px;
    height:50px;
  }

}