/* You can add global styles to this file, and also import other style files */
body {  
    background-color: #000000;
    color: rgb(244, 244, 252);
    border: #ff0000 10px;
}

.bgi {
  width:100%;
  height:100%;
  
  background-image: url("/assets/img/bgi.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position:fixed;

  z-index: -5;
}


.nav-main{
  width:100%;
  height:15%;

  margin-top:5px;
  margin-bottom: 5px;

  background-image: url("/../assets/img/3.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  position: sticky;
  top: 0;
}

.nav-data{
  background-color: rgb(82, 80, 80);
  opacity: 70%;

  width:100%;

  margin-top:10px;
  margin-bottom: 10px;

  text-align: center;

}

a:link, a:visited {
  color:yellow;
}

img{
  width:128px;
  height:128px;
  /*mix-blend-mode: multiply;*/
}

.icon{
  width:45px;
  height:45px;
  float: right;
}